*.exe
*.pyc
*.pyd
*.bin       
*.pkl
*.venv
*.idea
__pycache__
.pytest_cache
.ruff_cache

# config & context
.vscode
.claude

# clang
/clang_2026/guides

# builds
build

# ai-notes & logs
gemini
CLAUDE.md

# other dirs and files
*linux_commands
0x_c_extension
books
cloud
0x_problems
template-rules.md
ml-types.md
