*.exe
*.pyc
*.pyd
*.bin       
*.pkl

**/.vscode/
**/.claude/
**/.idea/
**/.venv/
**/build/
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.logs/
**/.tmp/

# fastapi/x-project/data 
fastapi-projects/**/data/*.csv
fastapi-projects/**/data/*.json
